name: Build Android APK from ZIP (FINAL)

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Unzip Android project
        run: |
          unzip anifh.zip
          echo "=== ROOT ==="
          ls -la
          echo "=== PROJECT FOLDER ==="
          ls -la anifh
      - name: Build Debug APK
        working-directory: anifh
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: anifh/app/build/outputs/apk/debug/*.apk
          
